      <table class="table">
        <thead class="thead">
          <th>Job Title</th>
          <th>Experience</th>
          <th>ViewJob</th>
        </thead>
        <tbody>
          <tr *ngFor='let i of jobs' >
            <td>{{i.title}}</td>
            <td>{{i.experience}}</td>
            <td><button class="btn thead">View</button></td>
          </tr>
        </tbody>
      </table>
      <!-- (click)="view(i._id)" -->

























































      