<div class="panel panel-primary">
        <div class="panel-heading">
          <h5>Acheron</h5>
        </div>
        name: String,
        qualifications :String,
        experience: String,
        skills: String,
        role:String,
        gmail:String,
        ref :String,
        password:String,
        rounds: Number
        <div class="panel-body">
          <form [formGroup]="angForm" novalidate>
            <div class="form-group">
              <label class="col-md-4">Full Name</label>
              <input type="text" class="form-control" formControlName="name" #name />
            </div>
            <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
              <div *ngIf="angForm.controls['name'].errors.required">
                Name is required.
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4">qualifications</label>
              <select class="form-control" formControlName="qualifications" #qualifications >
                <option value="B.tech" selected>B.tech</option>
                <option value="B.sc">B.sc</option>
                <option value="M.tech ">M.tech </option>
                <option value="M.Sc" >M.Sc</option>
              </select>
            </div>
            <div class="form-group">
              <label class="col-md-4">experience</label>
              <select class="form-control" size="5" formControlName="experience" #experience >
                <option value="Fresher"  selected>Fresher</option>
                <option value="1yrs">1yr</option>
                <option value="2yrs">2yrs</option>
                <option value="3yrs">3yrs </option>
                <option value="4yrs">4yrs</option>
                <option value="5yrs">5yrs</option>
                <option value="6yrs">6yrs</option>
                <option value="7yrs">7yrs</option>
                <option value="8yrs">8yrs</option>
                <option value="9yrs">9yrs</option>
                <option value="10+yrs">10+yrs</option>
              </select>
            </div>
            <div *ngIf="angForm.controls['experience'].invalid && (angForm.controls['experience'].dirty || angForm.controls['experience'].touched)" class="alert alert-danger">
              <div *ngIf="angForm.controls['experience'].errors.required">
                experience is required.
              </div>
            </div>
            <div class="form-group">
                <label class="col-md-4">Skills Required</label>
                <select size="3" multiple class="form-control" formControlName="skills" #skills>
                    <option value="">
                        <option value="c">c</option>
                        <option value="c++">c++</option>
                        <option value="java">java</option>
                        <option value="html">html</option>
                        <option value="css">css</option>
                        <option value="javascript">javascript</option>
                </select>
              </div>
              <div *ngIf="angForm.controls['skills'].invalid && (angForm.controls['skills'].dirty || angForm.controls['skills'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['skills'].errors.required">
                    Skills  is required.
                </div>
              </div>


            </div>
            <div class="form-group">
              <button (click)="addCoin(mail.value, pass.value)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Add User</button>
            </div>
          </form>
        </div>
      </div>
      