<div  class=" margin col-lg-8 offset-2">

<div class="panel panel-primary">
  <div class="panel-heading">
   <h3> ADD EMPLOYEE</h3>
  </div>
  <div class="panel-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4"> Name</label>
        <input type="text" class="form-control" formControlName="name" #name/> 
      </div>
      <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['name'].errors.required">
          Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">ID</label>
        <input type="text" class="form-control" formControlName="empID" #empID />
      </div>
      <div *ngIf="angForm.controls['empID'].invalid && (angForm.controls['empID'].dirty || angForm.controls['empID'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['empID'].errors.required">
          empID is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Role</label>
        <select class="form-control" formControlName="role" #role >
          <option value="Software Developer">Software Developer</option>
          <option value="Technical Interviewer">Technical Interviewer</option>
          <option value="General Interviewer">General Interviewer </option>
          <option value="UI developer" selected>UI developer</option>
          <option value="Backend developer" selected>Backend developer</option>
        </select>
      </div>
      <div *ngIf="angForm.controls['role'].invalid && (angForm.controls['role'].dirty || angForm.controls['role'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['role'].errors.required">
          role is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Gmail</label>
        <input type="email" class="form-control" formControlName="gmail" #gmail/>
      </div>
      <div *ngIf="angForm.controls['gmail'].invalid && (angForm.controls['gmail'].dirty || angForm.controls['gmail'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['gmail'].errors.required">
          gmail is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">password</label>
        <input type="text" class="form-control" formControlName="password" #password />
      </div>
      <div *ngIf="angForm.controls['password'].invalid && (angForm.controls['password'].dirty || angForm.controls['password'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['password'].errors.required">
          password is required.
        </div>
      </div>
      <div class="form-group">
          <button type="submit" class="btn thead" (click)=" addRecruit(name.value, empID.value,role.value, gmail.value,password.value )" [disabled]="angForm.pristine || angForm.invalid">Add</button>
      </div>
    </form>
  </div>
</div>
</div>






