<div  class=" margin col-lg-8 offset-2">
<table class="table table-hover">
        <thead class="thead">
  <tr>
      <td> Name</td>
      <td> Empoloyee ID </td>
      <td> Role  </td>
      <td> gmail </td>
      <!-- <td> Password </td> -->
      <td colspan="2">Actions</td>
  </tr>
  </thead>

  <tbody>
      <tr *ngFor="let recruit of recruits">
          <td>{{ recruit.name }}</td>   
          <td>{{ recruit.empID }}</td>
          <td>{{ recruit.role }}</td>
          <td>{{ recruit.gmail }}</td>
          <!-- <td>{{ recruit.password }}</td> -->

          <td><button [routerLink]="['/edit', recruit._id]" class="btn thead">Edit</button></td>
          <td><button (click)="deleteRecruit(recruit._id)" class="btn thead ">Delete</button></td>
      </tr>
  </tbody>
</table>
</div>