<div class="collapse navbar-collapse" >
  <ul class="navbar-nav mr-auto">
  </ul>
  <form  class="form-inline my-md-0 float-right">
    <button   *ngIf="logins.isLoggedIn()"  class="btn btn-white btn-md" (click)="logins.logout()" >LogOut</button>
  </form>
  
  <form class="form-inline my-md-0 float-right" [formGroup]="form" (ngSubmit)="login()">
    <input  *ngIf="!logins.isLoggedIn()" class="rounded mx-1 py-1 form-control" type="email" placeholder="email" formControlName="email" />
    <input  *ngIf="!logins.isLoggedIn()" class="rounded mx-1 py-1 form-control" type="password" placeholder="Password" formControlName="password" />
    <button  *ngIf="!logins.isLoggedIn()"  type="submit"  class="btn btn-white btn-md " >Log In</button>
  </form>
</div>




