
<div class="sidenav">
      <a  class="btn "  (click)='setView("addemp")' >Add Employee</a>
      <a  class="btn"   (click)='setView("editemp")' >Employee list</a>
      <a   class="btn " (click)='setView("addpost")'>Addjob</a>
  </div>

<div class="panel panel-primary col-lg-6 offset-lg-2 margin"  >
<app-finalised  *ngIf="activeView === 'addemp'"></app-finalised>
<app-shortlist *ngIf="activeView === 'editemp'"></app-shortlist>

    <div *ngIf="activeView ==='addpost'">
    <div class="panel-heading" >
      Post a Job
    </div>
    <div class="panel-body">
      <form [formGroup]="angForm" novalidate>
        <div class="form-group">
          <label class="col-md-4">Job Title</label>
          <input type="text" class="form-control" formControlName="title" #title />
        </div>
        <div *ngIf="angForm.controls['title'].invalid && (angForm.controls['title'].dirty || angForm.controls['title'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['title'].errors.required">
             Job Title is required.
          </div>
        </div>
        <div class="form-group">
            <label class="col-md-4">Experience</label>
            <select class="form-control" size="1" formControlName="experience" #experience >
                <option value="Fresher"  selected>Fresher</option>
                <option value="1yrs">1yr</option>
                <option value="2yrs">2yrs</option>
                <option value="3yrs">3yrs </option>
                <option value="4yrs">4yrs</option>
                <option value="5yrs">5yrs</option>
                <option value="6yrs">6yrs</option>
                <option value="7yrs">7yrs</option>
                <option value="8yrs">8yrs</option>
                <option value="9yrs">9yrs</option>
                <option value="10+yrs">10+yrs</option>
              </select>
          </div>
          <div *ngIf="angForm.controls['experience'].invalid && (angForm.controls['experience'].dirty || angForm.controls['experience'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['experience'].errors.required">
                Experience is required.
            </div>
          </div>
        <div class="form-group">
          <label class="col-md-4">Location</label>
          <input type="text" class="form-control" formControlName="location" #location/>
        </div>
        <div *ngIf="angForm.controls['location'].invalid && (angForm.controls['location'].dirty || angForm.controls['location'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['location'].errors.required">
              location is required.
          </div>
        </div>
        <div class="form-group">
            <label class="col-md-4">Job Type</label>
            <input type="text" class="form-control" formControlName="type" #type/>
          </div>
          <div *ngIf="angForm.controls['type'].invalid && (angForm.controls['type'].dirty || angForm.controls['type'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['type'].errors.required">
                Job Type is required.
            </div>
          </div>
        <div class="form-group">
          <label class="col-md-4">Skills Required</label>
          <select size="3" multiple class="form-control" formControlName="skills" #skills>
              <option value="">
                  <option value="c">c</option>
                  <option value="c++">c++</option>
                  <option value="java">java</option>
                  <option value="html">html</option>
                  <option value="css">css</option>
                  <option value="javascript">javascript</option>
          </select>
        </div>
        <div *ngIf="angForm.controls['skills'].invalid && (angForm.controls['skills'].dirty || angForm.controls['skills'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['skills'].errors.required">
              Skills  is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Job Description</label>
          <textarea type="text" class="form-control" formControlName="description" #description ></textarea>
        </div>
        <div *ngIf="angForm.controls['description'].invalid && (angForm.controls['description'].dirty || angForm.controls['description'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['description'].errors.required">
              description is required.
          </div>
        </div>
          <div class="form-group">
            <button (click)="addPost(title.value, location.value,  experience.value, type.value, skills.value,description.value)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Post Job</button>
          </div>
      </form>
    </div>
  </div>
</div>
